.dictionary section {
  background-color: purple;
  padding: 30px;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 1px 2px 2px pink;
}
h1,
h2,
h3,
p {
  color: white;
}
.hint {
  font-size: small;
  color: pink;
  margin-top: 5px;
}

.dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
  border: 2px solid purple;
}

.results h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}
.Meaning h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}
.Meaning .definition{
    color: white;
}
.Meaning .example{
    color: pink;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

.synonyms{
    margin: 10px 0 0;
    padding: 0;
}

.synonyms li{
    font-size: 13px;
    line-height: 1;
    display: inline-block;
    padding-right: 15px;
    color: antiquewhite;
}